### __Please enter your name and student ID in the box below and save the notebook__

<Enter your name here>

<Enter your student ID here>

---

# ECC102 &ndash; Lab 03 _(Week of October 16, 2019)_
---
In this lab, you will be working on the `str.format()` statement, which allows us to format strings according to our needs. In addition, you will be practicing writing Python functions.

## __Task 1__ _(60 mins)_

First, read the information in the following pages about `str.format()` function:

- https://www.digitalocean.com/community/tutorials/how-to-use-string-formatters-in-python-3

- https://www.programiz.com/python-programming/methods/string/format


Then quickly browser through the formal definition of `str.format()` here:

- https://docs.python.org/3/library/string.html#formatstrings

### Basic usage of _str.format()_

Let's start learning how how `str.format()` works.

A set of  braces `{}` is used as placeholders for values.

Consider the following:

In [3]:
"Hello {}".format( "Mary" )

'Hello Mary'

In [5]:
"{} is {} years old.".format( "Peter", 16 )

'Peter is 16 years old.'

In [5]:
s = "{} {} {} = {}".format( 4, "x", 4, 4 * 4 )
print( s )

4 x 4 = 16

We can also use indices inside `{}` to indicate the order of the arguments passed to `str.format()`. For example, let see what the following format string would return:

    "Second argument: {1}, Third argument: {2}, First argument: {0}".format( "A", "B", "C" )

In [10]:
"Second argument: {1}, Third argument: {2}, First argument: {0}".format( "A", "B", "C" )

'Second argument: B, Third argument: C, First argument: A'

We just need to make sure that we do not use indices that are out of range. For example, the following usage would cause an error since the format string requires three values but only two are provided.

In [13]:
"{2} {1} {0}".format( "A", "B" )

IndexError: tuple index out of range

But if we provide more values than required, those extra values will simply get ignored.

In [15]:
"{2} {1} {0}".format( "A", "B", "C", "D" )

'C B A'

Indices can also be repeated within the format string. For example:

In [16]:
"{2} {1} {2} {0} {1}".format( "A", "B", "C" )

'C B C A B'

We can also specify formatting options for different data types. For example, we can specify

- how numeric values should be formatted

- how non-numeric values (e.g., strings) should be formatted

besides others.

## Field Widths

Each given value in a format placeholder can be printed with a specified width so that values can be aligned in visual columns.

Field width in a format placeholder is specified with an integer value after a colon character:

    "{:10}".format( 45 )
    
`{:10}` here will _right-align_ numeric values but _left-align_ string values within a width of 10 chracters.

Let's see how this works, but __REMEMBER__ that `str.format()` always returns a `str` (string) object:

In [18]:
"{:10}".format( 45 ) # Numeric value

'        45'

In [21]:
"{:10}".format( 923.78 ) # Numeric value

'    923.78'

In [20]:
"{:10}".format( "Hello" ) # String value

'Hello     '

In [26]:
# Note how values are aligned in columns by using the same formatting style
#
print( "|{:15}|{:20}|".format( "Hello, world!", 138.2229182434 ) ) # Numeric and string 
print( "|{:15}|{:20}|".format( "Joe and Mary", 35 ) )              # Numeric and string 
print( "|{:15}|{:20}|".format( "Happy birthday!", 3882912 ) )      # Numeric and string
#
# Note that in the example below the "Happy birthday ..." string does not fit the allotted 15 spaces.
# Therefore, vertical alignment will be shifted.
#
print( "|{:15}|{:20}|".format( "Happy birthday, Kate!", 762 ) )    # Numeric and string

|Hello, world!  |       138.222918243|
|Joe and Mary   |                  35|
|Happy birthday!|             3882912|
|Happy birthday, Kate!|                 762|

### Default, positional and keyword arguments

As we've seen above, we can specify an empty `{}` value placeholder in a formatting string and we can also specify placeholders with indices. A third way to use value placeholders is by name, but we can use this approach only if we specify _keyword_ arguments to `str.format()`.

Below examples are from https://www.programiz.com/python-programming/methods/string/format.

In [49]:
# Default arguments

print( "Hello {}, your balance is {}.".format( "Adam", 230.2346 ) )

# Positional arguments, i.e., using numeric indices

print( "Hello {0}, your balance is {1}.".format( "Adam", 230.2346 ) )

# Keyword arguments
#
# Note that the order of keyword arguments passed to str.format() does not matter, since keyword
# arguments are looked up by name, not by specification order.

print( "Hello {name}, your balance is {balance}.".format( name="Adam", balance=230.2346 ) )
print( "Hello {name}, your balance is {balance}.".format( balance=230.2346, name="Adam" ) )

# Mixed arguments

print( "Hello {0}, your balance is {balance}.".format( "Adam", balance=230.2346 ))

Hello Adam, your balance is 230.2346.
Hello Adam, your balance is 230.2346.
Hello Adam, your balance is 230.2346.
Hello Adam, your balance is 230.2346.
Hello Adam, your balance is 230.2346.

So, all `print()` statements above displayed exactly the same string above.

### Type Specification

We can also specify the data type of a value in a formatting placeholder.

|Type | Meaning |
| ----- | ------- |
|  d  | Decimal integer  |
|  c  | Corresponding Unicode character  |
|  b  | Binary format  |
|  o  | Octal format  |
|  x  | Hexadecimal format (lower case)  |
|  X  | Hexadecimal format (upper case)  |
|  n  | Same as 'd'. Except it uses current locale setting for number separator  |
|  e  | Exponential notation. (lowercase e)  |
|  E  | Exponential notation (uppercase E)  |
|  f  | Displays fixed point number (Default: 6) |
|  F  | Same as 'f'. Except displays 'inf' as 'INF' and 'nan' as 'NAN'  |
|  g  | General format. Rounds number to p significant digits. (Default precision: 6)  |
|  G  | Same as 'g'. Except switches to 'E' if the number is large.  |
|  %  | Percentage. Multiples by 100 and puts % at the end. |


The above table is from https://www.programiz.com/python-programming/methods/string/format.

So, here are some examples for specifying different data types.

In [50]:
# Decimals

"Joe is {:d} years old.".format( 16 )

'Joe is 16 years old.'

In [51]:
# Decimals
# We can specify the width of the value

"Joe is {:3d} years old.".format( 16 )

# Notice the extra space before the value 16? We asked for 3 spaces to be used 
# to represent a 2-digit value, hence an extra leading space.

'Joe is  16 years old.'

In [53]:
# Decimals
# We can specify whether we wish to have leading zeroes.

"Index item {:05d}: Washing machine".format( 38 )

'Index item 00038: Washing machine'

In [54]:
# Floating-point values

"{:f}".format( 123.92 )

'123.920000'

In [55]:
# Compare the above to this

"{}".format( 123.92 )

# Notice the difference? The version with {:f} has a default display width where 
# 6 decimal digits are used. Without a type specifier, the value is represented as is

'123.92'

We can also specify how many decimal points we would like to display with floating-point numbers. For example

    '{:.3f}'
   
means 3 decimal digits.

But, can we also specify this without the `f` floating-point specifier?

    '{:.3}'

Let's try:

In [65]:
"Copper Inc. took a loan of $|{:15.3f}| from Bank of Mid-Asia last year.".format( 237000.897371738 )

'Copper Inc. took a loan of $|     237000.897| from Bank of Mid-Asia last year.'

So, what happened here exactly?

We have a `15.3f` specifier, which means that 15 spaces should be used to represent the floating-point number.

Since the default alignment for numric values within the alloted width is _right-alignment_, there will remain five extra spaces before the number, which takes up a total of 10 characters&ndash;6 digits for the whole part of the number, decimal point, and finally three decimal digits.

### Alignment

Values can be aligned within format field.

Let's take a look at how within-field alignment can be accomplished by consiering some examples from 

[https://docs.python.org/3/library/string.html#formatstrings](https://docs.python.org/3/library/string.html#formatstrings)

In [36]:
'{:<40}'.format( 'left aligned within 40 spaces' )

'left aligned within 40 spaces           '

In [37]:
'{:>40}'.format( 'right aligned within 40 spaces' )

'          right aligned within 40 spaces'

In [42]:
# Display a '+' for all positive numeric values always

'{:+f}; {:+f}'.format( 3.14, -3.14 )

'+3.140000; -3.140000'

In [45]:
# Display a leading space only in the case of positive numbers so that the sign is compensated for

print( '{: f}; {: f}'.format( 3.14, -3.14 ) ) 
print( '{: f}; {: f}'.format( -3.14, 3.14 ) )

 3.140000; -3.140000
-3.140000;  3.140000

In [47]:
# Display only the minus sign -- This is the same as specifying '{:f}; {:f}'

print( '{:-f}; {:-f}'.format( 3.14, -3.14 ) ) 
print( '{:-f}; {:-f}'.format( -3.14, 3.14 ) ) 

# Note that vertical alignment of numeric values will be shifted if we have a mixture of negative
# and positive values

3.140000; -3.140000
-3.140000; 3.140000

In [94]:
# Formatting of values in different number bases is also supported
#
# 'd' for integer values
# 'x' for hexidecimal values
# 'o' for octal values
# 'b' for binary values
#
# So, let's convert integer 42 to different bases

"int: {0:d};  hex: {0:x};  oct: {0:o};  bin: {0:b}".format( 42 )

'int: 42;  hex: 2a;  oct: 52;  bin: 101010'

In [41]:
# Using the comma as a thousands separator

'{:,}'.format( 1234567890 )

'1,234,567,890'

In [40]:
# How to expressing percentages with fixed number of decimal points.

points = 19
total = 22
'Percentage of correct answers: {:.2%}'.format( float( points ) / total )

'Percentage of correct answers: 86.36%'

Let's combine some of what we've covered above:

In [69]:
# We repeat one of the above examples, but this time with explicit left-alignment, using <

"Copper Inc. took a loan of $|{:<15.3f}| from Bank of Mid-Asia last year.".format( 237000.897371738 )

# Note that the number moved to the leftmost edge of the allotted 15-character wide space

'Copper Inc. took a loan of $|237000.897     | from Bank of Mid-Asia last year.'

- Now solve the following exercises within the notebook.

- Submit this notebook with your answers to the Lab Assistants

## __EXERCISES &ndash; Set A__ _(3 questions)_
-----------------

__L03.1:__ Fill in the format string, `fmt`, so that the `print()` function outputs the value specified in the comment next to the `print()` statement right below:

In [68]:
fmt = "{} is a {}-year course"
print( fmt.format("ECC102", "first" ) ) ## should output 'ECC102 is a first-year course.'

ECC102 is a first-year course

--------------------
__L03.2:__ Fill in the correct formatting in `fmt` below so that it prints out the indicated string.

In [1]:
fmt = "{} {} {} = {} "
print( fmt.format( "30", "/", "5", 30 / 5 ) ) # should print '30 / 5 = 6'

30 / 5 = 6

------
__L03.3:__ Fill in the format strings so that the `print()` statements below display the indicated values vertically aligned as

```
Class      | Exam Type  | Grade        
---------- | ---------- | -------------
ECC102     |  Midterm   | 78.12     
ECC104     |   Final    | 82.45     
ECC108     |   Makeup   | 98.00     
ECC200     |   Resit    | 100.00  
```

Note that the `Class` column is aligned LEFT, `Exam Type` column is aligned MIDDLE, and `Grade` column is also aligned LEFT.

Note also that you need to use the vertical bar character `|` to separate the columns and just the
right number of `---` characters to separate the column headings from the values in the table.

In [2]:
print("  {}   | {}| {} ".format( "Class", "Exam Type", "Grade" ) )
print("{}|{}|{} ".format( "-" * 10, "-" * 10, "-" * 13 ) )
print("  {}  | {}  | {:.2f} ".format( "ECC102", "Midterm", 78.12 ) )
print("  {}  | {}    | {:.2f} ".format( "ECC104", "Final", 82.45 ) )
print("  {}  | {}   | {:.2f} ".format( "ECC108", "Makeup", 98.0 ) )
print("  {}  | {}    | {:.2f} ".format( "ECC200", "Resit", 100 ) )

  Class   | Exam Type| Grade
----------|----------|-------------
  ECC102  | Midterm  | 78.12
  ECC104  | Final    | 82.45
  ECC108  | Makeup   | 98.00
  ECC200  | Resit    | 100.00

------------------
## __Task 2__ _(60 mins)_

## Functions

Here's the basic syntax of a function with N parameters. Note that, in order for a function to _return_ a value, the `return` statement must be used. Keep in mind that printing to the screen using `print()` is __NOT__ equivalent to _returning_ using `return`.

    def function_name( param1, param2, ... paramN ):
        ''' 
        Documentation string
        '''
        statements

        return <value>
        
The name of the function is given by `function_name`. This function takes N _positional_ parameters  and returns the value `<value>`.

Next you will do some exercises based on the material we covered in the lectures. In the exercises below, you will be asked to write code to accomplish the tasks described.

- Now solve the following exercises within the notebook.
- Submit this notebook with your answers to the Lab Assistants

## __EXERCISES &ndash; Set B__ _(3 questions)_
-----

__L03.4:__ Write a `for`-loop that will print out all values from 3 till 15, including 15 as below:

    3
    4
    5
    6
    7
    8
    9
    10
    11
    12
    13
    14
    15

In [3]:
# Fill in your code below
for i in range(3,16):
    
    print(i)

3
4
5
6
7
8
9
10
11
12
13
14
15

------ 
__L03.5:__ Write a `for`-loop that will print out every third value starting with 5 till 26, including 26 as below:

    5
    8
    11
    14
    17
    20
    23
    26

In [4]:
# Fill in your code below

for i in range(5,27, 3):
    print(i)

5
8
11
14
17
20
23
26

------ 
__L03.6:__ Write a function called `do_arithmetic( operand_1, operator, operand_2 )` and returns the result of one of four arithmetic operators given the two numeric operands. The `operator` parameter will be a single string (one of `+`, `-`, `*`, or `/`) and operand parameters will be numeric values.

Note that the division operation (`/`) should do floating-point division, __not integer division__.

For example,

    do_arithmetic( 5, '+', 7 )
    
should __return__ the value `12`. Similarly the below calls should work as described.

    do_arithmetic( 10, '-', 3 )  ---> 7
    do_arithmetic( 10, '-', 30 ) ---> -20
    do_arithmetic( 10, '*', 30 ) ---> 300 
    do_arithmetic( 1, '/', 10 )  ---> 0.1 
    do_arithmetic( 7, '/', 2 )   ---> 3.5

In [12]:
# Fill in the body of the function below by replacing the pass statement with your code

def do_arithmetic( operand_1, operator, operand_2):
    if operator == "+":
        print(operand_1 + operand_2)
    if operator  == "-":
        print(operand_1 - operand_2)
    if operator == "*":
        print(operand_1 * operand_2)
    if operator == "/":
        print(operand_1 / operand_2)
        
    
    return (operand_1,operator, operand_2)

In [14]:
# Test cases below should work as described above

print( do_arithmetic( 5, "+", 7 ) )
print("------------")
print( do_arithmetic( 10,"-", 3 ) )
print("-------------")
print( do_arithmetic( 10, "-" ,30 ) )
print("-------------")
print( do_arithmetic( 10, "*" ,30 ) )
print("-------------")
print( do_arithmetic( 1, "/", 10 ) )
print("-------------")
print( do_arithmetic( 7, "/", 2 ) )

12
(5, '+', 7)
------------
7
(10, '-', 3)
-------------
-20
(10, '-', 30)
-------------
300
(10, '*', 30)
-------------
0.1
(1, '/', 10)
-------------
3.5
(7, '/', 2)

---
## __Submission__

You __MUST__ submit this Python Notebook by the end of today's lab using the below upload website:

Make sure you save your work before submitting your notebook.

https://www.dropbox.com/request/X5tg6VJxGMSLy2crNOws

-----
___>>> Congratulations! You are done for this lab. Have a nice day and keep working hard! :)___

-----