### __Please enter your name and student ID in the box below and save the notebook__

    CAN  İLGU

    20190192

---

# ECC102 &ndash; Lab 08 _(Week of December 3, 2019)_
---

In today's lab, you will be working on map, filter, and reduce functions in Python.

## __Task: map, filter, reduce __ _(120 mins)_

There is only a single task in this lab.

Go to the following section of the below web page:

http://web.mit.edu/6.005/www/sp16/classes/25-map-filter-reduce/#map

Start reading and solving all exercises on this page until and including the section

http://web.mit.edu/6.005/www/sp16/classes/25-map-filter-reduce/#benefits_of_abstracting_out_control

You must 

- __transcribe__ all Python code examples in this notebook and demonstrate what the code does

- __solve__ ALL READING EXERCISES in all sections cited above, whether the question is multiple choice or classic.

Note that the page where above named range of sections is provided has Java-related material. You are not responsible for this Java material. The section range mentioned above does not have any Java material.

---
## __Submission__

You __MUST__ submit this Python Notebook ideally by the end of today's lab using the below upload website:

Make sure you save your work before submitting your notebook.

Check the final deadline at the below link. No late work will be accepted!

https://www.dropbox.com/request/FEtjF8VAkZGVzCauvfbd

# Map

In [2]:
from math import sqrt
map(sqrt, [1, 4, 9, 16])
[1.0, 2.0, 3.0, 4.0]
map(str.lower, ['A', 'b', 'C'])
['a', 'b', 'c']

['a', 'b', 'c']

In [9]:
def map(f, seq):
    result = []
    for elt in seq:
        result.append(f(elt))
    return result

# Filter

In [11]:
filter(str.isalpha, ['x', 'y', '2', '3', 'a']) 
['x', 'y', 'a']

['x', 'y', 'a']

In [14]:
def isOdd(x): 
    return x % 2 == 1

filter(isOdd, [1, 2, 3, 4])
[1,3]

[1, 3]

In [16]:
filter(lambda s: len(s)>0, ['abc', '', 'd'])
['abc', 'd']

['abc', 'd']

In [17]:
def filter(f, seq):
    result = []
    for elt in seq:
        if f(elt):
            result.append(elt)
    return result

# Reduce

In [37]:
import operator
from functools import reduce
reduce(max, [5, 8, 3, 1])

8

In [38]:
from functools import reduce
reduce(lambda x,y: x+y, [1, 2, 3], 0)

6

In [39]:
from functools import reduce
reduce(operator.add, [1, 2, 3], 0)

6

In [40]:
reduce(lambda s,x: s+str(x), [1, 2, 3, 4], '')

'1234'

In [41]:
reduce(operator.concat, [[1, 2], [3, 4], [], [5]], [])

[1, 2, 3, 4, 5]

In [54]:
def flatten(list):
    return reduce(operator.concat, list, [])

# More Examples

Suppose we have a polynomial represented as a list of coefficients, a[0], a[1], ..., a[n-1], where a[i] is the coefficient of xi. Then we can evaluate it using map and reduce:

In [32]:
def evaluate(a,x):
    xi = map(lambda i: x**i, range(0, len(a))) # [x^0, x^1, x^2, ..., x^(n-1)]
    axi = map(operator.mul, a, xi)             # [a[0]*x^0, a[1]*x^1, ..., a[n-1]*x^(n-1)]
    return reduce(operator.add, axi, 0)       # sum of axi

This code uses the convenient Python generator method range(a,b), which generates a list of integers from a to b-1. In map/filter/reduce programming, this kind of method replaces a for loop that indexes from a to b.

Now let’s look at a typical database query example. Suppose we have a database about digital cameras, in which each object is of type Camera with observer methods for its properties (brand(), pixels(), cost(), etc.). The whole database is in a list called cameras. Then we can describe queries on this database using map/filter/reduce:

In [37]:
from functools import reduce
reduce(max, map(Camera.pixels, filter(lambda c: c.brand() == "Nikon", cameras)))

AttributeError: 'list' object has no attribute 'pixels'

Relational databases use the map/filter/reduce paradigm (where it’s called project/select/aggregate). SQL (Structured Query Language) is the de facto standard language for querying relational databases. A typical SQL query looks like this:

In [38]:
select max(pixels) from cameras where brand = "Nikon"

SyntaxError: invalid syntax (<ipython-input-38-77cc202ba4af>, line 1)



    cameras is a sequence (a list of rows, where each row has the data for one camera)

    where brand = "Nikon" is a filter

    pixels is a map (extracting just the pixels field from the row)

    max is a reduce

-----
___>>> Congratulations! You are done for this lab. Have a nice day and keep working hard! :)___

-----

[top](#)